/**
** 404 page
*/

.error404 .content-area {
  display: flex;
  justify-content: center;
  .site-main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    article {
      margin: 0;
      header {
        @include page-header;
      }
    }
    @media screen and (min-width: $mobile_width) {
      width: 100vw;
    }
    @media screen and (min-width: $tablet_width) {
      width: $d_width;
    }
  }
}

.page-header {
  @include m-donate;
  .entry-meta {
    display: none;
  }
}

.error-404 {
  width: 100%;
  h1 {
    color: $black;
    text-align: center;
  }
}

.error-404 .page-content {
  p {
    margin: $margin-d;
    padding-right: $margin-d;
  }
}

.search-form1 {
  fieldset {
    border-radius: 50px;
    min-width: 230px;
    width: 60%;
    margin: $margin-d;
    @include hover-state {
      border: $orange 1px solid;
    }
    @media screen and (min-width: $tablet_width) {
      width: 470px;
    }
    .search-field1 {
      border: none;
      outline: none;
      padding-top: 5px;
      width: 90%;
    }
  }
}

.error-404 .widget {
  color: $orange;
  ul {
    color: $black;
  }
  a {
    text-decoration: none;
    color: $black;
    @include hover-state {
      color: $orange;
    }
  }
}