.page-template-page-about-sub {
  .site-content {
    width: 100%;
    margin: auto;
  }
  .entry-header {
    height: 17rem;
    position: relative;
    img {
      object-fit: cover;
      width: auto;
      height: 100%
    }
  }
  .entry-title {
    position: absolute;
    bottom: 0;
    height: 118px;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .entry-content {
    padding: 0 22px;
    p {
      font-size: 1rem;
    }
    ul {
      margin: 0;
      font-family: $font__body;
    }
  }
}

@media screen and (min-width:480px) {
  .page-template-page-about-sub {
    .site-content {
      width: 768px;
    }
    .entry-title {
      height: 7.5rem;
      bottom: -7.5rem;
    }
    .entry-header {
      height: 22rem;
      img {
        height: 22rem;
        width: 100%;
      }
    }
    .content-area {
      margin-top: 7.5rem;
      p {
        font-size: 1rem;
      }
      h5 {
        margin: 0;
      }
      ul {
        font-size: 1rem;
      }
    }
    .entry-content {
      padding: 0 52px;
    }
  }
}
@media screen and (min-width:769px) {
  .page-template-page-about-sub {
    .site-content {
      width: 1024px;
    }
    .entry-title {
      height: 10rem;
      bottom: -10rem;
    }
    .content-area {
      margin-top: 10rem;
      p {
        font-size: 1.15rem;
      }
      h5 {
        margin: 0;
      }
      ul {
        font-size: 1.15rem;
      }
    }
  }
}

