.page-template-page-about-partners {
	.entry-header {
		width: 480px;
		margin: 0 auto;
		height: 275px;  
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 65% 0%;
			position: absolute;
		}
		.entry-title {
			position: absolute;
			bottom: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 118px;
			background: $orange;
			margin-bottom: 0;
		}
	}
	.entry-content p {
		margin: 15px 22px;
		text-indent: 15px;
	}
	.linkhighlight a {
		color: #5C8EDC;
		text-decoration: none;
	}
	.about-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		p {
			background: $orange;
			width: 277px;
			height: 96px;
			border: 4px solid $orange;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 32px 0 0 0;
			font-family: $font__header;
			font-size: $font_m-h1;
		}
	}
	.partners-title {
		font-size: $font_m-h1;
		font-family: $font__header;
		margin: 10px 22px;
	}
	.partner-companies {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		margin: 0 22px;
	}    
	.individual-partner, .partner-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: 50%;
		margin: auto;
	}

	.partner-logo img {
		min-width: auto;
		height: auto;
	}
	.partner-name {
		font-family: $font__body;
		min-width: 112px;
		height: 42px;
		margin: 0 0 24px 0;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
	}
	.logo-container {
		height: 112px;
		object-fit: scale-down;
	}
}
.about-back-btn {
	p {
		border: solid 2px black;
		width: 6rem;
		height: 2rem;
		margin-left: 1rem;
		align-items: center;
		display: flex;
		justify-content: center;
		font-family: $font__header;
		font-size: 1.1rem;
		&:hover {
		background-color: $orange;
		border-color: $orange;
		}
	}
	a {
		color: black;
		text-decoration: none;
		&:visited {
			color: black;
		}
		&:hover {
			color: white;
		}
	}
}

@media all and (min-width: $mobile_width) {
	.page-template-page-about-partners {
    .entry-header {
			width: 768px;
			height: 375px; 
    }
		.entry-content p {
			font-size: $font_d-sub-body;
		}
		.individual-partner, .partner-container {
			flex-basis: 33%;
		}
		.entry-title {
			bottom: -10rem;
			height: 10rem;
		}
			
		.content-area {
			margin-top: 1rem;
		}
		.partner-name {
			font-size: $font_m-h2;
		}
		.logo-container {
			min-width: 165px;
		}
		.about-back-btn {
			display: none;
		}
	}
}

@media all and (min-width: 769px) {
	.page-template-page-about-partners {
    .entry-header {
        width: 1024px;
        height: 375px; 
      }
	}
}