.page-template-page-about {
  .entry-header {
    max-width: 480px;
    margin: 0 auto;
    height: 305px;  
    position: relative;
    @media screen and (min-width: 480px) {
      max-width: 1024px;
      height: 356px; 
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
    }
    h1 {
      margin: 0;
      position: absolute;
      bottom: 0px;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 45px 0;
      background: rgba(255,255,255,0.81);
    }
  }

  .entry-content a {
    color: $black;
    text-decoration: none;
  }

  .about-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      font-family: $font__header;
      margin: 1rem 0;
      width: 18rem;
      height: 6rem;
      border: 4px solid $orange;
      background: $orange;
      justify-content: center;
      display: flex;
      align-items: center; 
      &:hover {
        border: 4px solid $black;
      }
    }
    a {
      padding: 1rem;
      font-size: $font_m-h1;
    }
  }
}

@media all and (min-width: 480px) {
  .page-template-page-about {

    .entry-content {
      width: 1024px;
      margin: auto;
      margin-top: 1rem;
    }
    .about-links {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .about-links {
      p {
        flex: 0 1 43%;
        height: 10rem;
        margin: 2rem 0;
        font-size: 2.5rem;
      }
      a {
        padding: 3rem 3rem;
        font-size: 2.5rem;
      }
    }
  }
}
