.page-template-page-about-our-team {
  .entry-header {
    margin: 0 auto;
    height: 275px;  
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 65% 0%;
      position: absolute;
    }

  }
  .entry-title {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 118px;
    background: $orange;
    margin-bottom: 0;
  }
  .entry-content {
    padding: 0;
    p {
    margin: 15px 22px;
  }
}
  .about-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      background: $orange;
      width: 277px;
      height: 96px;
      border: 4px solid $orange;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 32px 0 0 0;
      font-family: $font__header;
      font-size: $font_m-h1;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  body {
      margin: 0;
  }
  ul li:nth-child(odd) img {
    padding-left: 22px;
    background-color: $blue;
  }
  ul li:nth-child(even) img {
    padding-right: 22px;
    background-color: $blue;
  }
  .member-container {
    margin: 0 22px;
  }

  span.text {
    color: rgba(92,142,220,1);
  }
  .cfs-hyperlink {
    text-decoration: none;
  }
  .member-email, .member-bio {
    margin-bottom: 20px;
  }
  .member-picture {
    width: 100%;
  }
  .about-back-btn {
    p {
      border: solid 2px black;
      width: 6rem;
      height: 2rem;
      margin-left: 1rem;
      align-items: center;
      display: flex;
      justify-content: center;
      font-family: $font__header;
      font-size: 1.1rem;
      &:hover {
        background-color: $orange;
        border-color: $orange;
      }
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        color: white;
      }
    }
  }
}

//Tablet
@media all and (min-width: $mobile_width) {
  .page-template-page-about-our-team {
    .entry-header {
      height: 265px; 
      img {
        object-position: 45% 0%;
      }
    }
    .entry-content {
      padding: 0;
      P {
        font-style: $font__body;
        font-size: $font_t-sub-body;
        line-height: 24px;
     }
   }
    .entry-title {
      bottom: -7.5rem;
      height: 7.5rem;
    }
    .content-area {
      margin-top: 7.5rem;
    }
    .team-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
    }
    .member {
      display: flex;
      flex-direction: column;
      flex-basis: 47%;
    }
    .member-picture {
      height: 212px;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .member-name {
      font-size: $font_t-body;
      font-weight: bold;
    }
    .member-email.member-container {
      margin-bottom: 20px;
    }
    .member-container {
      margin: 0 0;
    }
    .member-position, .member-email, .member-bio {
      font-size: $font_t-sub-body;
      line-height: 22px;
    }
    ul li:nth-child(odd) img {
      padding-left: 30px;
    }
    ul li:nth-child(even) img {
      padding-right: 30px;
    }
    ul li:nth-child(odd) p {
      padding-left: 30px;
    }
    ul li:nth-child(odd) h1 {
      padding-left: 30px;
    }
    .member-picture {
      max-width: 100%;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .about-back-btn {
      padding-left: 20px;
      align-self: end;
    }
  }
}
//Desktop
@media all and (min-width: $tablet_width) {
  .page-template-page-about-our-team {
    .entry-header {
      max-width: 1024px;
      height: 375px; 
    }
    .entry-content {
      P {
        font-size: $font_d-sub-body;
      }
    }
    .entry-title {
      bottom: -10rem;
      height: 10rem;
    }
    .content-area {
      margin-top: 10rem;
    }
    .member-picture {
      height: 282px;
    }
    .member-name {
      font-size: $font_d-body;
    }
    .member-position, .member-email, .member-bio {
      font-size: $font_d-sub-body;
    }
    ul li:nth-child(odd) img {
      padding-left: 38px;
    }
    ul li:nth-child(even) img {
      padding-right: 38px;
    }
    .about-back-btn {
      display: none;
    }
  }
}