.page-id-26 {
  table {
    width: 100%;
  }
  .hentry {
    margin-bottom: 0;
  }
  td {
    border: 1px solid grey;
    padding-left: 0.5rem;
  }
  .content-area {
    line-height: 1.6rem;
  }
  .program-back-btn {
    display: none;
  }
  #orange-header {
    height: 7.37rem;
    margin-top: 0.5rem;
  }
  @media screen and (min-width: $mobile_width){
    #page .entry-title {
      position: initial;
      bottom: initial;
    }
    #orange-header {
      height: 7.5rem;
    }
    #primary, .content-area {
      margin-top: 0;
    }
  }
  @media screen and (min-width: $tablet_width){
    #orange-header {
      height: 10rem;
      max-width: 1024px
    }
  }
}

.advertise-title {
  font-size: $font_d-sub-body !important;
  font-family: $font__body; 
  font-weight: 400;
  @media screen and (min-width: $mobile_width){
    font-size: $font_t-h2 !important;
    }
}

.advertise-body {
  font-family: $font__body;
  font-size: $font_m-body;
  }