/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

@media screen and (min-width: 480px) {
	html {
	min-width: 480px;
	}
}
@media screen and (min-width: 786px) {
	html {
	min-width: 1024px;
	}
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

blockquote {
	color: $pink;
	font-family: $font__main;
	font-size: 1.5rem;
}

.container {
	@media (min-width: $d_width)  {
		min-width: 1024px;
		margin: auto;
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

