/*--------------------------------------------------------------
# Contact-us-Page
--------------------------------------------------------------*/

.page-id-51 .content-area {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $mobile_width) {
    justify-content: flex-start;
  }
  @media screen and (min-width: $tablet_width) {
    justify-content: center;
  }
  .site-main {
    display: flex;
    width: 100%;
    @media screen and (min-width: $mobile_width) {
      width: 100vw;
    }
    @media screen and (min-width: $tablet_width) {
      width: $d_width;
    }
    flex-flow: column nowrap;
    article {
      margin: 0;
      header {
        @include page-header;
      }
    }
  }
}

.page-id-51 .entry-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $margin-d;  
  margin-top: 0px;
  @media screen and (min-width: $tablet_width) {
    margin-bottom: 50px;
  }
  .contactus {
    width: 100%;
    @media screen and (min-width: $mobile_width) {
      width: 100%;
      max-height: 300px;
      display: flex;
      overflow: hidden;
      flex-flow: column wrap;
      p {
        margin: 18px 0;
      }
    }
    @media screen and (min-width: $tablet_width) {
      width: 38%;
      display: block;
      p {
        margin: 18px 0;
      }
    }
  }
  p {
    font-size: $font_d-sub-body;
  }
  iframe {
    @media screen and (min-width: $tablet_width) {
      max-width: 550px;
    }
  }
}