/*--------------------------------------------------------------
# Donate-Page
--------------------------------------------------------------*/

.page-id-2792 .content-area {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $mobile_width) {
    justify-content: flex-start;
  }
  @media screen and (min-width: $tablet_width) {
    justify-content: center;
  }
  .site-main {
    display: flex;
    width: 100%;
    @media screen and (min-width: $mobile_width) {
      width: 100vw;
    }
    @media screen and (min-width: $tablet_width) {
      width: $d_width;
    }
    flex-flow: column nowrap;
    article {
      margin: 0;
      header {
        @include page-header;
      }
      .entry-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .support-donate {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap;
          text-align: center;
          width: 100%;
          @media screen and (min-width: $tablet_width) {
            width: 50%;
            padding: 0 64px;
          }
          .p1 {
            font-size: $font_m-h1;
            width: 50%;
            @media screen and (min-width: $mobile_width) {
              width: 80%;
              font-size: $font_d-h1;
              line-height: 3.5rem;
            }
            @media screen and (min-width: $tablet_width) {
              width: 100%;
            }
          }
          p {
            width: 90%;
            @media screen and (min-width: $tablet_width) {
              width: 100%;
            }
            a {
              text-decoration: none;
              font-size: $font_m-h1;
              color: $black;
              background: $pink;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 61px;
              width: 100%;
              @include hover-state {
                color: $orange;
              }
              @media screen and (min-width: $tablet_width) {
                padding: 45px 0;
                font-size: $font_d-h1;
                font-weight: 300;
              }
            }
          }
        }
        .detail-donate {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap;
          width: 90%;
          @media screen and (min-width: $tablet_width) {
            width: 50%;
            padding: 64px;
            padding-left: 0;
            align-items: flex-start;
          }
          p {
            font-size: $font_m-body;
            @media screen and (min-width: $tablet_width) {
              width: 448px;
              font-size: $font_d-sub-body;
              margin-bottom: 0;
              line-height: 1.4rem;
            }
          }
        }
        .meta-donate {
          display: flex;
          justify-content: center;
          flex-flow: column wrap;
          width: 90%;
          margin: 16px 0;
          @media screen and (min-width: $tablet_width) {
            padding: 64px;
            width: 50%;
            flex-flow: column wrap;
          }
          p {
            font-size: $font_m-body;
            margin-top: 0;
            @media screen and (min-width: $tablet_width) {
              font-size: $font_d-sub-body;
              line-height: 1.4rem;
              padding-right: 2rem;
            }
          }
        }
        .image-position {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: row nowrap;
          width: 100%;
          margin-top: 24px;
          height: 208px;
          @media screen and (min-width: $tablet_width) {
            width: 50%;
            height: 327px;
          }
          .image {
            position: relative;
            width: 95%;
            height: 100%;
            overflow: hidden;
            background: $blue;
            padding: 15px;
            img {
              min-height: 100%;
              width: auto;
              min-width: 100%;
              left: 50%;
              top: 80%;
              transform: translate(-50%, -70%);
              max-width: none;
              position: absolute;
            }
          }
        }
      }
    }
  }
}