.events-archive .entry-content {
	width: initial;
}

.events-archive {
	.event-header {
		display: flex;
		height: 13rem;
		position: relative;
	}
	
	.tribe-events-list-event-title {
		position: absolute;
    right: 0;
		top: 0;
    width: 5.4rem;
    background: $orange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
		margin: 0;
		text-align: center;
		hyphens: auto;
		font-size: 1.2rem;
	}
	
	.tribe-events-event-image {
		width: 100% !important;
    height: 100%;
    position: absolute;
    overflow: hidden;

		&img {
			height: auto;
			position: absolute;
			width: 23rem;
			left: 0;
			max-width: none;
			bottom: 0;
		}
	}
	.event-backup-img {
		height: 100%;
    padding: 1rem;
		opacity: 0.3;
	}

	.event-bar {
		width: 1.5rem;
		background-color: $blue;
		z-index: 1;
	}

	.title-events-archive {
		position: relative;
		margin-bottom: 2rem;		
	}

	.events-title {
		display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7.3rem;
    background-color: #f5a623;
	}

	.type-tribe_events {
		border: none;
		padding: 0;
	}

	.tribe-events-event-meta {
		border: none;
		background: none;
		margin: 0;
		padding: 0;
	}

	.tribe-events-venue-details {
		border: none;
		margin: 0;
	}

	.tribe-events-event-cost {
		display: inline;
		float: left;
	}
	.tribe-events-event-cost span {
		border: none;
		background: none;
		font-weight: normal;
		text-align: left;
	}

	#tribe-events .tribe-events-content {
		padding: 0 1rem;
	}

	.tribe-events-sub-nav {
		display: flex;
    justify-content: center;
	}
	
	.tribe-events-nav-right, .tribe-events-nav-left {
		a {
			background: none;
			color: black;
			font-size: 2rem;
			font-family: $font__body;
		}
		a:hover {
			color: $orange;
		}
	}

	#tribe-events .tribe-events-button, .tribe-events-button {
		background-color: initial;
		color: black;
		font-family: $font__body;
		text-align: left;
	}

	.gallery-widget {
		margin: 0;
    padding: 0;
    list-style: none;
	}

	.widget-title {
		background-color: #45cdcb;
    width: 100%;
    height: auto;
    padding: 30% 0;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
	}

	.gallery-widget-img {
		position: relative;
		object-fit: cover;
		margin: 2rem 0px;

		img {
			width: 100%;
			height: 300px;
		}
		a {
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
			text-decoration: none;
			color: black;
			background: linear-gradient(hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
			padding: 37% 0;
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 480px) {
	.events-archive {
		.events-title {
			width: initial;
		}
		.site-content {
			display: flex;
		}
	}
}