.events-archive .entry-content {
	width: initial;
}

.events-archive {
	.event-header {
		display: flex;
		height: 13rem;
		position: relative;
	}
	
	.tribe-events-list-event-title {
		position: absolute;
    right: 0;
		top: 0;
    width: 5.4rem;
    background: $orange;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
		margin: 0;
		text-align: center;
		hyphens: auto;
		font-size: 1.2rem;
	}
	
	.tribe-events-event-image {
		width: 100% !important;
    height: 100%;
    position: absolute;
    overflow: hidden;

		&img {
			height: auto;
			position: absolute;
			width: 23rem;
			left: 0;
			max-width: none;
			bottom: 0;
		}
	}
	.event-backup-img {
		height: 100%;
    padding: 1rem;
		opacity: 0.3;
	}

	.event-bar {
		width: 1.5rem;
		background-color: $blue;
		z-index: 1;
	}

	.title-events-archive {
		position: relative;
		margin-bottom: 2rem;
	}

	.events-title {
		display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7.3rem;
    background-color: #f5a623;
	}

	.type-tribe_events {
		border: none;
		padding: 0;
	}

	.tribe-events-event-meta {
		border: none;
		background: none;
		margin: 0;
		padding: 1rem;
		font-weight: normal;
		a {
			color: black;
		}
		a:hover {
			color: $orange;
		}
		a:visited {
			color: black;
		}
	}
	.tribe-event-schedule-details {
		padding: 0;
		font-size: 1.3rem;
	}
	.tribe-events-venue-details {
		border: none;
		margin: 0;
		padding: 0;
		font-size: 1rem;
	}
	.tribe-events-list .tribe-events-event-cost {
		float: initial;
	}
	.tribe-events-event-cost {
		clear: both;		
		margin-left: 1rem;
    font-size: 1.3rem;
		display: inline-block;
		span {
			padding: 0;
			display: inline;
		}
	}
	.tribe-events-event-cost span {
		border: none;
		background: none;
		font-weight: normal;
		text-align: left;
	}
	#tribe-events .tribe-events-content {
		padding: 0 1rem;
		p {
		font-size: 1.1rem;
		}
	}
	.tribe-events-sub-nav {
		display: flex;
    justify-content: center;
	}
	.tribe-events-nav-right, .tribe-events-nav-left {
		a {
			background: none;
			color: black;
			font-size: 2rem;
			font-family: $font__body;
		}
		a:hover {
			color: $orange;
		}
	}
	#tribe-events .tribe-events-button, .tribe-events-button {
		background-color: initial;
		color: black;
		font-family: $font__body;
		text-align: left;
	}
	.gallery-widget {
		margin: 0;
    padding: 0;
    list-style: none;
	}
	.widget-title {
		background-color: #45cdcb;
    width: 100%;
    height: 20rem;
		display: flex;
		align-items: center;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
		padding: 0 1rem;
	}
	.gallery-widget-img {
		position: relative;
		margin: 2rem 0px;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;		
		}
		a {
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
			text-decoration: none;
			color: black;
			background: linear-gradient(hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
			padding: 37% 0;
			font-size: 1.5rem;
		}
	}
	.tribe-events-after-html {
		display: none;
	}
	.event-pagination {
		display: flex;
		align-items: center;
		.fa {
			font-size: 4rem;
			padding: 0 0.5rem;
		}
	}
	a.tribe-events-ical.tribe-events-button {
		float: none;
    margin-left: 3rem;
    font-size: 1rem;
    padding: 0;
	}
}

@media screen and (min-width: 480px) {
	.events-archive {
		.events-title {
			width: initial;
			height: 10rem;
		}
		.donate-btn {
      height: 4.5rem;
      width: 4.5rem;
      font-size: 2.5rem;
    }
		.site-content {
			display: flex;
			width: 1024px;
			margin: 0 auto;
			justify-content: space-between;
		}
		#primary {
			flex: 0 1 60%;
		}
		#secondary {
			flex: 0 1 35%;
			margin-top: 11.6rem;
		}
		.title-events-archive {
			width: 166.6%;
		}
		.tribe-events-page-title {
			font-size: 2.5rem;
    	margin: 0;
		}
		.event-header {
			height: 20rem;
		}
		.event-bar {
			width: 2rem;
		}
		.widget-title {
			height: 20rem;
		}
		.tribe-events-list-event-title {
			height: 12.5rem;
			width: 9.5rem;
			font-size: 1.8rem;
			align-items: center;
			display: flex;
		}
		.gallery-widget-img {
			img {
				height: 11.6rem;
			}
			a {
				padding: 22% 0;
			}
		}
		.tribe-events-event-meta {
			margin-left: 3rem;
			font-size: 1.6rem;
			font-weight: 500;
			padding-left: 0;
		}
		#tribe-events .tribe-events-content {
			padding: 0 0 0 3rem;
		}
		.tribe-events-event-cost {
			margin-left: 3rem;
		}
	}
}