.events-archive .entry-content {
	width: initial;
}

.events-archive {
	.event-header {
		display: flex;
	}
	
	.title-events-archive {
		position: relative;
	}

	.events-title {
		display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7.3rem;
    background-color: #f5a623;
	}
}