/*--------------------------------------------------------------
# Front-Page
--------------------------------------------------------------*/

.home .content-area {
  display: flex;
  justify-content: center;
  .site-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .learn-about-story {
      display: flex;
      height: 276px;
      flex-flow: column nowrap;
      background: grey;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        height: 276px;
        width: auto;
      }
      .front-learn {
        position: absolute;
        bottom: 0;
        height: 138px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
        h1 {
          margin: 0;
          padding-bottom: .5rem;
        }
        @include m-button;
      }
      @include m-donate;
    }
    .programs-event-blog {
      .front-program,
      .front-events,
      .front-blog {
        display: flex;
        justify-content: center;
        height: 138px;
        align-items: center;
        background: $orange;
        a {
          text-decoration: none;
          color: $black;
        }
        &:hover {
          border: $p_border 4px;
        }
      }
      .front-events {
        background: $blue;
      }
      .front-blog {
        background: $white;
      }
    }
  }
}