.page-template-form-membership-english, .page-template-form-membership-spanish  {

  input[type=text],[type=email],[type=date], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid black;
    border-radius: 0;
  }

  .member_signup_form {
    display: flex;
    flex-wrap: wrap;
  }

  .entry-content {
    margin-top: 24px;
    padding: 0 22px;
    @media screen and(min-width: 408px) {
      padding: 0 52px;
    }
  }

  .mem_info {
    font-size: $font_m-h2;
    font-family: $font__body;
    @media screen and(min-width: 408px) {
      font-size: $font_t-body;
    }
  }

  .mem_benefits {
    margin: 0;
    font-size: $font_m-h2;
    font-family: $font__body;
    @media screen and(min-width: 408px) {
      font-size: $font_t-body;
    }
  }

  .form_section {
    font-weight: bold;
    font-size: $font_m-h1;
    margin-bottom: 0.75rem;
    @media screen and (min-width: $mobile_width) {
      font-size: $font_d-body;
    }
  }

  .field_name {
    font-size: $font_m-h2;
    font-family: $font__body;
    @media screen and(min-width: 408px) {
      font-size: $font_t-body;
    }
  }
  
  .small_print {
    font-size: 12px;
    font-family: $font__body;  
  }

  .membership_form_english {
    display: flex;
    flex-wrap: wrap;
  }

  .form_defaults {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
  }

  .form_name {
    flex-basis: 100%;
    flex-direction: column;
    @media screen and (min-width:481px) {
      flex-direction: row;
    }
  }
  #first_name, #last_name {
    display: flex;
    width: 100%;
    flex-direction: column;

  }
  #first_name {
    @media screen and (min-width:481px) {
    padding-right: 5px;
    }
  }
  #last_name {
    @media screen and (min-width:481px) {
    padding-left: 5px;
    }
  }

  .form_telephone {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #telephone {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_email {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }

  #email {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_address {
    flex-basis: 100%;
  }
  #address {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_birthday {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  
  #birthday {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 481px) {
      width: 100%;
    }
  }

  .form_ethnicity {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #ethnicity {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 481px) {
      width: 100%;
    }
  }

  .form_gender {
    flex-basis: 100%;
  }
  #gender {
    width: 100%;
  }

  .form_member {
    flex-basis: 100%;
  }
  #new_member_radio {
    width: 100%;
  }

  .form_spanish {
    flex-basis: 100%;
  }
  // #spanish_member {
  //   width: 100%;
  // }

  .form_emerg_name {
    flex-basis: 100%;
    flex-direction: column;
    @media screen and (min-width:481px) {
      flex-direction: row;
    }
  }
  #first_emerg_name, #last_emerg_name {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  #first_emerg_name {
    @media screen and (min-width:481px) {
    padding-right: 5px;
    }
  }
  #last_emergname {
  @media screen and (min-width:481px) {
    padding-left: 5px;
    }
  }

  .form_emerg_telephone {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #emerg_telephone {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_emerg_email {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #emerg_email {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_med_info {
    flex-basis: 100%;
  }
  #med_info {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_if_yes {
    flex-basis: 100%;
  }
  #if_yes {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_allergies {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #allergies {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_medications {
    flex-basis: 100%;
    @media screen and (min-width: 481px) {
      flex-basis: 50%;
    }
  }
  #medications {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .form_visit {
    flex-basis: 100%;
  }

  .form_submit {
    flex-basis: 100%;
  }
  #mem_submit {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 1rem;    
    button {
      width: 75%;
      margin: 0 auto;
      margin-top: 0.5rem;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 0;
      font-size: 1.1rem;
      @include hover-state() {
        text-shadow: none;
        box-shadow: none;
        border: $p_border $orange;
        background: $orange;
        color: white;
      }
    }
  }
}