/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	font-family: montserrat;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.site-branding {
	display: none;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.nav-menu {
	display: none;
	li:first-child {
		display: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.mobile-menu {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
	height: 60px;
	@media screen and (max-width: $tablet_width){
		width: initial;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

 .menu-visible {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	li {
		float: left;
    position: relative;
    background: $orange;
    width: 80%;
		margin: 1rem;
    text-align: center;
		border: 4px solid $orange;	
	}
	li:hover {
		border: 4px solid black;
	}
	li:first-child {
		display: initial;
	}
	a {
		color: black;
    padding: 2rem;
		font-size: 2.1rem;
	}
}

.overlay-open {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 5rem;
	top: 0;
	left: 0;
	background: white;
	z-index: 200;
	overflow: scroll;
}

#back-button {
	display: none;
	margin-left: 2rem;
	background: none;
	border: 2px solid black;
	box-shadow: none;
	border-radius: 0;
}

@media screen and (min-width: $tablet_width) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	.nav-menu {
		display: initial;
	}
	.menu-item {
		a:hover {
			color: $orange;
		}
	}
	#menu-mobile-menu {
		display: none;
	}
}