/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.site-branding {
	display: none;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		visibility: hidden;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 100vw;
}

@media screen and (min-width: 480px) {
	.menu-toggle {
		display: none;
	}
	// .main-navigation ul {
	// 	display: flex !important;
	// }
}

	.menu {
		justify-content: flex-end;
		align-items: flex-end;
	}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

 .menu-visible {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	li {
		float: left;
    position: relative;
    background: $orange;
    width: 80%;
		margin: 1rem;
    padding: 3rem;
    text-align: center;
		border: 4px solid $orange;		
	}
	li:hover {
		border: 4px solid black;
	}
	a {
		color: black;
	}
}

.overlay-open {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 5rem;
	top: 0;
	left: 0;
	background: white;
	z-index: 200;
	overflow: scroll;
}

// .overlay-slidedown {
// 	visibility: hidden;
// 	-webkit-transform: translateY(-100%);
// 	transform: translateY(-100%);
// 	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
// 	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
// }

// .overlay-slidedown.menu-visible {
// 	visibility: visible;
// 	-webkit-transform: translateY(0%);
// 	transform: translateY(0%);
// 	-webkit-transition: -webkit-transform 0.4s ease-in-out;
// 	transition: transform 0.4s ease-in-out;
// }

// .overlay.menu-visible {
//   opacity: 1;
//   visibility: visible;
//   height: 100%;
// }

#back-button {
	display: none;
	margin-left: 2rem;
	background: none;
	border: 2px solid black;
	box-shadow: none;
	border-radius: 0;
}
