/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.page .content-area {
  display: flex;
  justify-content: center;
}

.page .site-main {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  @media screen and (min-width: $mobile_width) {
    width: $d_width;
    article {
      margin: 0;
      header {
        @include page-header;
      }
    }
  }
}

// Advertise Page

.page-id-26 {
  .header .entry-header {
    height: 7rem;
  }
  .content-area {
    line-height: 1.6rem;
  }
  table {
    width: 120%
  }
  .program-back-btn {
    display: none;
  }

  @media screen and (min-width: $mobile_width) {
    table {
      width: initial;
    }
    #page .entry-title {
      position: initial;
      bottom: initial;
    }
    .header .entry-header {
      height: 10rem;
    }
    #primary, .content-area {
      margin-top: 0;
    }
  }
}