/*--------------------------------------------------------------
# Search Result Page
--------------------------------------------------------------*/

.search .content-area {
  display: flex;
  justify-content: center;
  .page-header {
    @include page-header;
  }
  .site-main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;

    @media screen and (min-width: $mobile_width) {
      width: $d_width;
    }
  }
}


.search {
  .page-title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: $black 2px solid;
  }
  .entry-title {
    a {
      color: $black;
      text-decoration: none;
      @include hover-state {
        color: $orange;
      }
    }
  }
  .entry-meta {
    display: flex;
  }
  #search-results {
    padding: 1rem 1rem 0 1rem;
  }
  article {
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
  }
}
 
.search {
  @include m-button;
  .m-button {
    display: inline-block;
  }
}