/*--------------------------------------------------------------
# Search Result Page
--------------------------------------------------------------*/

.search .content-area {
  display: flex;
  justify-content: center;
  .site-main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    article {
      margin-top: $margin-d;
      header {
        @include page-header;
      }
    }
    @media screen and (min-width: $mobile_width) {
      width: $d_width;
    }
  }
}

.search .page-title {
  text-transform: uppercase;
  border-bottom: $black 2px solid;
  padding: $margin-d*2 0 16px 0;
}

.search .entry-title {
  a {
    color: $black;
    text-decoration: none;
    @include hover-state {
      color: $orange;
    }
  }
}

.search .entry-meta {
  display: flex;
}

.search {
  @include m-button;
  .m-button {
    display: inline-block;
  }
}