/*--------------------------------------------------------------
# Single-Page
--------------------------------------------------------------*/

.content-area {
  display: flex;
  justify-content: center;
}
.site-main {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  header {
    @include page-header;
  }
}
article {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: $mobile_width) {
  .content-area {
    justify-content: flex-start;
  }
  .site-main {
    width: 100vw
  }
}

@media screen and (min-width: $tablet_width) {
  .entry-content {
    padding: $margin-d;
  }
  .content-area {
    justify-content: center;
  }
  .site-main {
    width: $d_width;
  }
}