// Structure
$base__space-unit: 1.5rem;
// Colors
$black: #000000;
$white: #ffffff;
$orange: #f5a623;
$blue: #45cdcb;
$pink: #F91E72;

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #F5A623;

// Typography
$font__header: montserrat;
$font__main: lato;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
//desktop font size
$font__header: 40px;
$font__sub-header: 36px;
$font__body: 24px;
$font__sub-body: 18px;
//mobile font size
$font__m-header: 22px;
$font__m-sub-header: 16px;
$font__m-body: 12px;