// Structure
$base__space-unit: 1.5rem;
// Colors
$black: #000000;
$white: #ffffff;
$orange: #f5a623;
$blue: #45cdcb;
$pink: #F91E72;
// Typography
$font__main: sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;